/*  your css code here. If applicable */
table
{
	width: 100%;
	text-align: center;
}

table, td, th 
{
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #ffab12;
	border-collapse: collapse;
}

th
{
	background-color: #888888;
	color: white;
}